<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout( ~{::section})}">
<body>
<section>
  <form th:action="@{/workplace/{id}/edit(id=${workplace.id})}" method="post">
    <div class="box box-default">
      <div class="box-header"><h3 class="box-title"><i class="fa fa-fw fa-pencil"></i> Editar centro</h3></div>
      <div class="box-body">
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" name="name" th:field="${workplace.name}" class="form-control" minlength="1"
                 maxlength="30" required="true"/>
        </div>
        <div class="form-group">
          <label>Propietario</label>
          <input type="number" name="owner" th:field="${workplace.owner}" class="form-control" required="true"/>
        </div>
        <div class="form-group">
          <label>Capacidad de procesamiento</label>
          <input type="number" name="processability" th:field="${workplace.processability}" class="form-control"
                 min="1" max="1000000"       required="true"/>
        </div>
        <div class="form-group">
          <label>Tamaño máximo de la cola</label>
          <input type="number" name="maximumQueueSize" th:field="${workplace.maximumQueueSize}" class="form-control"
                 min="1" max="1000000"   required="true"/>
        </div>
      </div>

      <div class="box-footer">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-fw fa-save"></i> Guardar centro
        </button>
      </div>
    </div>
  </form>
</section>
</body>
</html>
