<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout( ~{::section})}">
<body>
<section>
  <form th:action="@{/user/{id}/delete(id=${user.id})}" method="post">
    <div class="box box-default">
      <div class="box-header"><h3 class="box-title"><i class="fa fa-fw fa-trash"></i> Eliminar usuario</h3></div>
      <div class="box-body">
        <p>Atención vas a eliminar al usuario "<span th:text="${user.username}"></span>".
          Esta acción no se puede deshacer.
        </p>
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-danger">
          <i class="fa fa-fw fa-trash"></i> Eliminar
        </button>
      </div>
  </form>
</section>
</body>
</html>
