<!DOCTYPE html>
<html th:replace="~{layout :: layout( ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<body>
<section>
  <div class="box box-default">
    <div class="box-header"><h3 class="box-title"><i class="fa fa-fw fa-users"></i> Usuarios</h3></div>
    <div class="box-body">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th class="col-sm-1">#</th>
          <th>Nombre de usuario</th>
          <th class="col-sm-3">Tipo de usuario</th>
          <th class="col-sm-2 text-right">Acciones</th>
        </tr>
        </thead>
        <tr th:each="user :${users}">
          <td th:text="${user.id}"></td>
          <td th:text="${user.username}"></td>
          <td th:text="${user.role}"></td>
          <td class="text-right">
            <a class="btn btn-success btn-sm" th:href="@{/user/{id}/edit(id=${user.id})}">
              <i class="fa fa-fw fa-pencil"></i> Editar
            </a>
            <a class="btn btn-danger btn-sm" th:href="@{/user/{id}/delete(id=${user.id})}">
              <i class="fa fa-fw fa-trash"></i> Eliminar
            </a>
          </td>
        </tr>
      </table>
    </div>
    <div class="box-footer">
      <a class="btn btn-success btn-sm" th:href="@{/user/create}">
        <i class="fa fa-fw fa-plus-circle"></i> Nuevo usuario
      </a>
    </div>
  </div>
</section>
</body>
</html>