<!DOCTYPE html>
<html th:replace="~{layout :: layout( ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<body>
<section>
  <div class="box box-default">
    <div class="box-header"><h3 class="box-title"><i class="fa fa-fw fa-cogs"></i> Tareas</h3></div>
    <div class="box-body">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th class="col-sm-1">#</th>
          <th>Nombre</th>
          <th>Propietario</th>
          <th>Centro</th>
          <th class="col-sm-2 text-right">Tamaño</th>
          <th class="text-right">Ejecutado</th>
          <th class="col-sm-2 text-right">Acciones</th>
        </tr>
        </thead>
        <tr th:each="job :${jobs}">
          <td th:text="${job.id}"></td>
          <td th:text="${job.name}"></td>
          <td th:text="${job.owner}"></td>
          <td th:text="${job.workplace}"></td>
          <td class="text-right" th:text="${job.size}"></td>
          <td class="text-right" th:text="${job.isExecuted()}"></td>
          <td class="text-right">
            <a class="btn btn-success btn-sm" th:href="@{/job/{id}/edit(id=${job.id})}">
              <i class="fa fa-fw fa-pencil"></i> Editar
            </a>
            <a class="btn btn-danger btn-sm" th:href="@{/job/{id}/delete(id=${job.id})}">
              <i class="fa fa-fw fa-trash"></i> Eliminar
            </a>
          </td>
        </tr>
      </table>
    </div>
    <div class="box-footer">
      <a class="btn btn-success btn-sm" th:href="@{/job/create}">
        <i class="fa fa-fw fa-plus-circle"></i> Nueva tarea
      </a>
    </div>
  </div>
</section>
</body>
</html>